name: Tests
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: 'Node.js v${{ matrix.node }}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node:
          - 16
          - 17
    steps:
      - uses: actions/setup-node@v3.3.0
        with:
          node-version: '${{ matrix.node }}'
      - uses: actions/checkout@v3
      - name: Install Dependencies
        run: npm ci
      - name: Run All Node.js Tests
        run: npm test
